<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 mt-3 mb-3">
        <div class="row col-12">
            <h1> {{ postsTitle }}</h1>
        </div>
        <div class="row col-12">
            <div class="input-group rounded">
                <input type="search" class="form-control rounded" [value]="" placeholder="Search" aria-label="Search" (keyup.enter)="search($event)" />
            </div>
        </div>        
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 mt-lg-3 mt-md-3 d-flex ">
        <app-posts-list class="w-100"></app-posts-list>
    </div>
</div>